{% extends "core/base.html" %}
{% block title %}
    Locations
{% endblock title %}
<body>
    {% block content %}
        <div>
            <div class="row border">
                <div class="col-sm border">
                    <h2 class="centertext">Locations</h2>
                </div>
            </div>
            {% for name, loc in names_dict.items %}
                <div class="row">
                    <div class="col-sm"></div>
                    <a class="col-sm" href="{{ loc.get_absolute_url }}">{{ name|safe }}</a>
                    <div class="col-sm"></div>
                </div>
            {% endfor %}
        </div>
        <form action="{% url 'wod:locations:random' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                        <label>
                        <select name="location_type">
                            <option value="node">
                                Node
                            </option>
                            <option value="chantry">
                                Chantry
                            </option>
                        </select>
                    </label>
                </div>
                <div class="col-sm">Name</div>
                <div class="col-sm">
                    <label>
                        <input name="name" type="text" placeholder=""/>
                    </label>
                </div>
                <div class="col-sm">Rank</div>
                <div class="col-sm">
                    <label>
                        <select name="rank">
                            <option value="None">
                            </option>
                            <option value="1">
                                1
                            </option>
                            <option value="2">
                                2
                            </option>
                            <option value="3">
                                3
                            </option>
                            <option value="4">
                                4
                            </option>
                            <option value="5">
                                5
                            </option>
                        </select>
                    </label>
                </div>
                <div class="col-sm">
                    <input type="submit" name="creator" value="Create Location"/>
                </div>
                <div class="col-sm"></div>
            </div>
        </form>
    {% endblock content %}
</body>
