{% extends "core/base.html" %}
{% block title %}
    Locations
{% endblock title %}
<body>
    {% block content %}
        <div class="centertext">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h2>Locations</h2>
                    </div>
                </div>
                {% for loc in chronicle.location_set.all %}
                    <div class="row">
                        <div class="col-sm"></div>
                        <div class="col-sm"></div>
                        <div class="col-sm"></div>
                        <a class="col-sm" href="{% url 'wod:location' loc.id %}">{{ loc.name }}</a>
                        <div class="col-sm"></div>
                        <div class="col-sm"></div>
                        <div class="col-sm"></div>
                    </div>
                {% endfor %}
                {% for loc in locations %}
                    <div class="row">
                        <a class="col-sm" href="{% url 'wod:location' loc.id %}">{{ loc.name }}</a>
                    </div>
                {% endfor %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm"></div>
                        <div class="col-sm">{{ location_form.name }}</div>
                        <div class="col-sm">{{ location_form.parent }}</div>
                        <div class="col-sm">{{ location_form.description }}</div>
                        <div class="col-sm">
                            <input type="submit" name="creator" value="Create Location"/>
                        </div>
                        <div class="col-sm"></div>
                    </div>
                </form>
            </div>
        </div>
    {% endblock content %}
</body>
