{% extends "core/base.html" %}
{% block title %}
    {{ object.name }}
{% endblock title %}
<body>
    {% block content %}
        <h1>{{ object.name }}</h1>
        {% if object.parent != None %}
            <div class="row">
                <div class="col-sm">Parent</div>
                <a class="col-sm" href="{{ object.parent.get_absolute_url }}">{{ object.parent.name }}</a>
            </div>
        {% endif %}
        <br />
        <br />
        {{ object.description }}
        <br />
        Sector Class: {{ object.get_sector_class_display }}
        <br />
        Constraints: {{ object.constraints }}
        <table>
            <tr>
                <td>Gauntlet</td>
                <td>{{ object.gauntlet }}</td>
                <td>Shroud</td>
                <td>{{ object.shroud }}</td>
            </tr>
        </table>
    </body>
{% endblock content %}
