{% extends "core/base.html" %}
{% block title %}
    Items
{% endblock title %}
<body>
    {% block content %}
        <div class="centertext">
            <div class="row border">
                <div class="col-sm border">
                    <h2>Items</h2>
                </div>
            </div>
            {% for item in items %}
                {% if item.display %}
                    <div class="row border">
                        <a class="col-sm border" href="{{ item.get_absolute_url }}">{{ item.name| safe }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </body>
{% endblock content %}
