{% extends 'core/base.html' %}

{% block title %}Mega Edges{% endblock %}

<body>
    {% block content %}
    <div style="text-align: center">
        <div class="row">
            <div class="col-sm">
                <h2>Mega Edges</h2>
            </div>
        </div>
        {% for megaedge in object_list %}
        <div class="row">
            <a class="col-sm" href="/characters/megaedge/{{megaedge.id}}">
                {{ megaedge.name| safe }}
            </a>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}