{% extends "core/base.html" %}
{% block title %}
    {{ object.name| safe }}
{% endblock title %}
<body>
    {% block content %}
        {% load dots %}
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">Name</div>
            <div class="col-sm">{{ object.name| safe }}</div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">Quantum Minimum</div>
            {% if object.quantum_minimum == -1 %}
                <div class="col-sm">Dots</div>
            {% else %}
                <div class="col-sm">{{ object.quantum_minimum }}</div>
            {% endif %}
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">Action</div>
            <div class="col-sm">{{ object.get_action_display| safe }}</div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">Cost</div>
            <div class="col-sm">{{ object.cost }}</div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">Dice Pool</div>
            <div class="col-sm">{{ object.dice_pool| safe }}</div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">Range</div>
            <div class="col-sm">{{ object.get_range_display| safe }}</div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                Duration
            </div>
            <div class="col-sm">
                {{ object.get_duration_display| safe }}
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                {{ object.description| safe }}
            </div>
            <div class="col-sm">
            </div>
        </div>
    {% endblock content %}
</body>
