{% extends "core/base.html" %}
{% block title %}
    Powers
{% endblock title %}
<body>
    {% block content %}
        <div class="centertext">
            <div class="row">
                <div class="col-sm">
                    <h2>Powers</h2>
                </div>
            </div>
            {% for power in object_list %}
                <div class="row">
                    <a class="col-sm" href="{% url tc:power power.id %}">{{ power.name| safe }}</a>
                </div>
            {% endfor %}
        </div>
    {% endblock content %}
</body>
