{% extends "core/base.html" %}
{% block title %}
    Transformations
{% endblock title %}
<body>
    {% block content %}
        <div class="centertext">
            <div class="row">
                <div class="col-sm">
                    <h2>Transformations</h2>
                </div>
            </div>
            {% for transformation in object_list %}
                <div class="row">
                    <a class="col-sm" href="{% url 'tc:transformation' transformation.id %}">{{ transformation.name| safe }}</a>
                </div>
            {% endfor %}
        </div>
    </body>
{% endblock content %}
