.vampire_heading {
    font-family: "Delavan", serif;
}

.werewolf_heading {
    font-family: "Balthazar", serif;
}

.mage_heading {
    font-family: "Abbess", serif;
}

.changeling_heading {
    font-family: "Kells", serif;
}

.wraith_heading {
    font-family: "MatrixTall", serif;
}

.inlineforms {
    display: inline;
}

.headerimg {
    height: 30px;
}

.margin {
    margin: 30px;
}

.dots {
    font-family: "Arial", sans-serif;
}

.centertext {
    text-align: center;
}

.border {
    border: 1px solid gray;
}