@font-face {
    font-family: 'Abbess';
    src: local('Abbess'),
         url('../static/fonts/abess-regular.ttf') format("truetype");
  }
  @font-face {
    font-family: 'Caslon Antique';
    src: local('Caslon Antique'),
         url('../static/fonts/cas_antn.ttf') format("truetype");
  }
  @font-face {
    font-family: 'Futura PT';
    src: local('Futura PT Bold'),
         url('../static/fonts/FuturaT-Bold.ttf') format("opentype");
  }
  @font-face {
    font-family: 'Optima';
    src: local('Optima'),
         url('../static/fonts/Optima-Bold.ttf') format("opentype");
  }

.vtm_heading {
    font-family: "Delavan", serif;
}

.wta_heading {
    font-family: "Balthazar", serif;
}

.mtas_heading {
    font-family: "Abbess", serif;
}

.ctd_heading {
    font-family: "Kells", serif;
}

.wto_heading {
    font-family: "MatrixTall", serif;
}

.inlineforms {
    display: inline;
}

.headerimg {
    height: 30px;
    width: auto;
}

.margin {
    margin: 30px;
}

.dots {
    font-family: "Arial", sans-serif;
}

.centertext {
    text-align: center;
}

.border {
    border: 1px solid gray;
}

.cod_heading {
    font-family: "Caslon Antique", serif;
}

.tc_aberrant_heading {
    font-family: "Futura PT", serif;
    font-weight: bold;
}
.tc_talent_heading {
    font-family: "Optima", serif;
    font-weight: bold;
}
.tc_core_heading {
    font-family: "Optima", serif;
    font-weight: bold;
}