.vtm_heading {
    font-family: "Delavan", serif;
}

.wta_heading {
    font-family: "Balthazar", serif;
}

.mtas_heading {
    font-family: "Abbess", serif;
}

.ctd_heading {
    font-family: "Kells", serif;
}

.wto_heading {
    font-family: "MatrixTall", serif;
}

.inlineforms {
    display: inline;
}

.headerimg {
    height: 30px;
    width: auto;
}

.margin {
    margin: 30px;
}

.dots {
    font-family: "Arial", sans-serif;
}

.centertext {
    text-align: center;
}

.border {
    border: 1px solid gray;
}

.cod_heading {
    font-family: "Caslon Antique", serif;
}
