{% extends "core/base.html" %}
{% block title %}
    {{ object.name }}
{% endblock title %}
<body>
    {% block content %}
        <h1>{{ object.name }}</h1>
        Parent: {{ object.parent }}
        <br />
        <br />
        {{ object.description }}
        <br />
        Sector Class: {{ object.get_sector_class_display }}
        <br />
        Constraints: {{ object.constraints }}
        <table>
            <tr>
                <td>Gauntlet</td>
                <td>{{ object.gauntlet }}</td>
                <td>Shroud</td>
                <td>{{ object.shroud }}</td>
            </tr>
        </table>
    </body>
{% endblock content %}
