{% extends "core/base.html" %}
{% block title %}Edges{% endblock title %}
<body>
    {% block content %}
        <div class="centertext">
            <div class="row">
                <div class="col-sm">
                    <h2>Edges</h2>
                </div>
            </div>
            {% for edge in object_list %}
                <div class="row">
                    <a class="col-sm" href="{% url 'tc:edge' edge.id %}">{{ edge.name| safe }}</a>
                </div>
            {% endfor %}
        </div>
    </body>
{% endblock content %}
