    <!-- prereq_edges = models.ManyToManyField("EdgePrereq", blank=True) -->

        {% extends 'core/base.html' %}

        {% block title %}{{object.name| safe}}{% endblock %}
        
        <body>
            {% block content %}
            {% load dots %}
            <!-- <div style="text-align: center"> -->
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">Name</div>
                    <div class="col-sm">{{object.name| safe}}</div>
                    <div class="col-sm"></div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">Cost</div>
                    <div class="col-sm">{{ object.cost }}</div>
                    <div class="col-sm"></div>
                </div> -->
                <div class="row">
                    <div class="col-sm"></div>
                    <!-- <div class="col-sm">Description</div> -->
                    <div class="col-sm">{{ object.description| safe }}</div>
                    <div class="col-sm"></div>
                </div>
            <!-- </div> -->
            {% endblock %}
        </body>