        {% extends 'core/base.html' %}

        {% block title %}{{object.name| safe}}{% endblock %}
        
        <body>
            {% block content %}
            {% load dots %}
            <!-- <div style="text-align: center"> -->
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">Name</div>
                    <div class="col-sm">{{object.name|safe}}</div>
                    <div class="col-sm"></div>
                </div>
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">Type</div>
                    <div class="col-sm">{{ object.get_type_display| safe }}</div>
                    <div class="col-sm"></div>
                </div>
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">Skills</div>
                    <div class="col-sm">{% for skill in object.skills.all %}
                    {{ skill.name| safe }}, 
                    {% endfor %}</div>
                    <div class="col-sm"></div>
                </div>
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">Edges</div>
                    <div class="col-sm">{% for edge in object.edges.all %}
                    {{ edge.name| safe }}, 
                    {% endfor %}</div>
                    <div class="col-sm"></div>
                </div>
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">Connections</div>
                    <div class="col-sm">{% for connection in object.pathconnection_set.all %}
                    {{ connection.name| safe }}, 
                    {% endfor %}</div>
                    <div class="col-sm"></div>
                </div>
                <div class="row">
                    <div class="col-sm"></div>
                    <!-- <div class="col-sm">Description</div> -->
                    <div class="col-sm">{{ object.description| safe }}</div>
                    <div class="col-sm"></div>
                </div>
            <!-- </div> -->
            {% endblock %}
        </body>