{% extends "core/base.html" %}
{% block title %}
    Paths
{% endblock title %}
<body>
    {% block content %}
        <div class="centertext">
            <div class="row">
                <div class="col-sm">
                    <h2>Paths</h2>
                </div>
            </div>
            {% for path in object_list %}
                <div class="row">
                    <a class="col-sm" href="{% url 'tc:path' path.id %}">{{ path.name | safe }}</a>
                </div>
            {% endfor %}
        </div>
    </body>
{% endblock content %}
