{% extends "core/base.html" %}
{% block title %}
    Tricks
{% endblock title %}
<body>
    {% block content %}
        <div class="centertext">
            <div class="row">
                <div class="col-sm">
                    <h2>Tricks</h2>
                </div>
            </div>
            {% for trick in object_list %}
                <div class="row">
                    <a class="col-sm" href="{% url 'tc:trick' trick.id %}">{{ trick.name| safe }}</a>
                </div>
            {% endfor %}
        </div>
    </body>
{% endblock content %}
