{% extends "core/character.html" %}
{% block statistics %}
    {% load dots %}
    {% block name %}
        <div class="row">
            <h1 class="col-sm {{ object.get_heading }}">{{ object.name }}</h1>
        </div>
    {% endblock name %}
    {% block basics %}
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">Name</div>
            <div class="col-sm">{{ object.name }}</div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">Player</div>
            <div class="col-sm">{{ object.owner.user.username }}</div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">Concept</div>
            <div class="col-sm">{{ object.concept }}</div>
            <div class="col-sm"></div>
        </div>
    {% endblock basics %}
    {% block paths %}
        <div class="row">
            <div class="col-sm">Origin Path</div>
            <a class="col-sm" href="{{ origin_path.path.get_absolute_url }}">{{ origin_path.path.name| safe }}</a>
            <a class="col-sm" href="{{ origin_path.connection.get_absolute_url }}">{{ origin_path.connection.name }}</a>
            <div class="col-sm dots">{{ origin_path.rating|dots }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Role Path</div>
            <a class="col-sm" href="{{ role_path.path.get_absolute_url }}">{{ role_path.path.name| safe }}</a>
            <a class="col-sm" href="{{ role_path.connection.get_absolute_url }}">{{ role_path.connection.name }}</a>
            <div class="col-sm dots">{{ role_path.rating|dots }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Society Path</div>
            <a class="col-sm" href="{{ society_path.path.get_absolute_url }}">{{ society_path.path.name| safe }}</a>
            <a class="col-sm" href="{{ society_path.connection.get_absolute_url }}">{{ society_path.connection.name }}</a>
            <div class="col-sm dots">{{ society_path.rating|dots }}</div>
        </div>
        {% for path in additional_paths %}
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    {{ path.path.name }}
                </div>
                <div class="col-sm">
                    {{ path.connection.name }}
                </div>
                <div class="col-sm dots">
                    {{ path.rating|dots }}
                </div>
            </div>
        {% endfor %}
    {% endblock paths %}
    {% block aspirations %}
        <div class="row">
            <h3 class="col-sm {{ object.get_heading }}">
                Aspirations
            </h3>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ object.short_term_aspiration_1 }}
            </div>
            <div class="col-sm">
                {{ object.short_term_aspiration_2 }}
            </div>
            <div class="col-sm">
                {{ object.long_term_aspiration }}
            </div>
        </div>
    {% endblock aspirations %}
    {% block skills %}
        <div class="row">
            <h3 class="col-sm {{ object.get_heading }}">
                Skills
            </h3>
        </div>
        <div class="row">
            <div class="col-sm">
                Aim
            </div>
            <div class="col-sm">
                {{ aim_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.aim|dots }}
            </div>
            <div class="col-sm">
                Integrity
            </div>
            <div class="col-sm">
                {{ integrity_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.integrity|dots }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Athletics
            </div>
            <div class="col-sm">
                {{ athletics_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.athletics| dots }}
            </div>
            <div class="col-sm">
                Larceny
            </div>
            <div class="col-sm">
                {{ larceny_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.larceny| dots }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Close Combat
            </div>
            <div class="col-sm">
                {{ close_combat_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.close_combat| dots }}
            </div>
            <div class="col-sm">
                Medicine
            </div>
            <div class="col-sm">
                {{ medicine_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.medicine| dots }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Command
            </div>
            <div class="col-sm">
                {{ command_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.command| dots }}
            </div>
            <div class="col-sm">
                Persuasion
            </div>
            <div class="col-sm">
                {{ persuasion_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.persuasion| dots }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Culture
            </div>
            <div class="col-sm">
                {{ culture_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.culture| dots }}
            </div>
            <div class="col-sm">
                Pilot
            </div>
            <div class="col-sm">
                {{ pilot_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.pilot| dots }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Empathy
            </div>
            <div class="col-sm">
                {{ empathy_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.empathy| dots }}
            </div>
            <div class="col-sm">
                Science
            </div>
            <div class="col-sm">
                {{ science_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.science| dots }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Enigmas
            </div>
            <div class="col-sm">
                {{ enigmas_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.enigmas| dots }}
            </div>
            <div class="col-sm">
                Survival
            </div>
            <div class="col-sm">
                {{ survival_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.survival| dots }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Humanities
            </div>
            <div class="col-sm">
                {{ humanities_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.humanities| dots }}
            </div>
            <div class="col-sm">
                Technology
            </div>
            <div class="col-sm">
                {{ technology_spec|safe }}
            </div>
            <div class="col-sm dots">
                {{ object.technology| dots }}
            </div>
        </div>
    {% endblock skills %}
    {% block attributes %}
        <div class="row">
            <h3 class="col-sm {{ object.get_heading }}">
                Attributes
            </h3>
        </div>
        <div class="row">
            {% if object.approach == "FOR" %}
                <div class="col-sm">
                    ☑
                </div>
            {% else %}
                <div class="col-sm">
                    ☐
                </div>
            {% endif %}
            <div class="col-sm">
                Force
            </div>
            <div class="col-sm">
                Intellect
            </div>
            <div class="col-sm dots">
                {{ object.intellect| dots }}
            </div>
            <div class="col-sm">
                Might
            </div>
            <div class="col-sm dots">
                {{ object.might| dots }}
            </div>
            <div class="col-sm">
                Presence
            </div>
            <div class="col-sm dots">
                {{ object.presence| dots }}
            </div>
        </div>
        <div class="row">
            {% if object.approach == "FIN" %}
                <div class="col-sm">
                    ☑
                </div>
            {% else %}
                <div class="col-sm">
                    ☐
                </div>
            {% endif %}
            <div class="col-sm">
                Finesse
            </div>
            <div class="col-sm">
                Cunning
            </div>
            <div class="col-sm dots">
                {{ object.cunning| dots }}
            </div>
            <div class="col-sm">
                Dexterity
            </div>
            <div class="col-sm dots">
                {{ object.dexterity| dots }}
            </div>
            <div class="col-sm">
                Manipulation
            </div>
            <div class="col-sm dots">
                {{ object.manipulation| dots }}
            </div>
        </div>
        <div class="row">
            {% if object.approach == "RES" %}
                <div class="col-sm">
                    ☑
                </div>
            {% else %}
                <div class="col-sm">
                    ☐
                </div>
            {% endif %}
            <div class="col-sm">
                Resilience
            </div>
            <div class="col-sm">
                Resolve
            </div>
            <div class="col-sm dots">
                {{ object.resolve| dots }}
            </div>
            <div class="col-sm">
                Stamina
            </div>
            <div class="col-sm dots">
                {{ object.stamina| dots }}
            </div>
            <div class="col-sm">
                Composure
            </div>
            <div class="col-sm dots">
                {{ object.composure| dots }}
            </div>
        </div>
    {% endblock attributes %}
    {% block tricks_and_edges %}
        <div class="row">
            <div class="col-sm">
                <h3 class="{{ object.get_heading }}">
                    Tricks
                </h3>
                {% for trick in object.tricks.all %}
                    <br />
                    <a href="{{ trick.get_absolute_url }}">{{ trick.name }}</a>
                {% endfor %}
            </div>
            <div class="col-sm">
                <h3 class="{{ object.get_heading }}">
                    Edges
                </h3>
                {% for edge in edges %}
                    <div class="row">
                        <a class="col-sm" href="{{ edge.edge.get_absolute_url }}">
                            {{ edge.edge }}
                        </a>
                        <div class="col-sm dots">
                            {{ edge.rating| dots:edge.edge.max_rating }}
                        </div>
                    </div>
                {% endfor %}
                {% for edge in self.enhanced_edges.all %}
                    <div class="row">
                        <div class="col-sm">
                            {{ edge }}
                        </div>
                        <div class="col-sm">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock tricks_and_edges %}
    {% block powers %}
    {% endblock powers %}
    {% block injuries %}
        <div class="row">
            <div class="col-sm">
                <h3 class="{{ object.get_heading }}">
                    Injury Conditions
                </h3>
                <br />
                {% for mod in health_levels %}{{ mod }}{% endfor %}
                <br />
                {% for mod in health_levels %}&nbsp;☐{% endfor %}
                Bruised {{ object.bruised_levels }}, Injured {{ object.injured_levels }}, Maimed {{ object.maimed_levels }}
            </div>
        </div>
    {% endblock injuries %}
    {% block ending %}
        <div class="row">
            <div class="col-sm">
                Defense
            </div>
            <div class="col-sm">
                {{ object.defense }}
            </div>
            <div class="col-sm">
                XP
            </div>
            <div class="col-sm">
                {{ object.xp }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ object.spent_xp }}
            </div>
        </div>
    {% endblock ending %}
{% endblock statistics %}
