{% extends "core/base.html" %}
{% block title %}
    {{ object.name| safe }}
{% endblock title %}
{% block content %}
    {% load dots %}
    <div class="centertext">
        <div class="row">
            <div class="col-sm">{{ object.name }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Durability</div>
            <div class="col-sm">{{ object.durability }}</div>
            <div class="col-sm">Size</div>
            <div class="col-sm">{{ object.size }}</div>
            <div class="col-sm">Structure</div>
            <div class="col-sm">{{ object.structure }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Availability</div>
            <div class="col-sm">{{ object.availability }}</div>
            <div class="col-sm">Fragile?</div>
            <div class="col-sm">{{ object.is_fragile }}</div>
            <div class="col-sm">Volatile?</div>
            <div class="col-sm">{{ object.is_volatile }}</div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm">Die Bonus</div>
            <div class="col-sm">{{ object.die_bonus }}</div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm">Description</div>
            <div class="col-sm">{{ object.description }}</div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
        </div>
    </div>
{% endblock content %}
