{% extends "core/base.html" %}
{% block title %}
    Objects
{% endblock title %}
<body>
    {% block content %}
        <div class="centertext">
            <div class="row border">
                <div class="col-sm border">
                    <h2>Objects</h2>
                </div>
            </div>
            {% for obj in objects %}
                <div class="row border">
                    <a class="col-sm border" href="{% url 'wod:wonder' obj.id %}">{{ obj.name }}</a>
                </div>
            {% endfor %}
        </div>
    {% endblock content %}
</body>
