{% extends "core/base.html" %}
{% block title %}
    Objects
{% endblock title %}
<body>
    {% block content %}
        <div class="centertext">
            <div class="row border">
                <div class="col-sm border">
                    <h2>Objects</h2>
                </div>
            </div>
            {% for obj in items %}
                {% if obj.display %}
                    <div class="row border">
                        <a class="col-sm border" href="{% url 'wod:item' obj.id %}">{{ obj.name }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <form action="{% url 'wod:random_item' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <label>
                        <select name="item_type">
                            <option value="grimoire">
                                Grimoire
                            </option>
                        </select>
                    </label>
                </div>
                <div class="col-sm">Name</div>
                <div class="col-sm">
                    <label>
                        <input name="item_name" type="text" placeholder=""/>
                    </label>
                </div>
                <div class="col-sm">Rank</div>
                <div class="col-sm">
                    <label>
                        <select name="item_rank">
                            <option value="None">
                            </option>
                            <option value="1">
                                1
                            </option>
                            <option value="2">
                                2
                            </option>
                            <option value="3">
                                3
                            </option>
                            <option value="4">
                                4
                            </option>
                            <option value="5">
                                5
                            </option>
                        </select>
                    </label>
                </div>
                <div class="col-sm">
                    <input type="submit" name="creator" value="Create Item"/>
                </div>
                <div class="col-sm"></div>
            </div>
        </form>
    </body>
{% endblock content %}
