{% extends "core/base.html" %}
{% block title %}
    Characters
{% endblock title %}
{% block content %}
    <div class="centertext">
        <div class="row border">
            <h2 class="col-sm border">Character</h2>
        </div>
        {% for char in chars %}
            {% if char.display %}
                <div class="row border">
                    <a class="col-sm border" href="{{ char.get_absolute_url }}">{{ char.name }}</a>
                    <div class="col-sm border">{{ char.owner.username }}</div>
                    <div class="col-sm border">{{ char.type.title }}</div>
                    <div class="col-sm border">{{ char.get_status_display }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <form id="characterForm"
          data-character-type-url="{% url 'cod:characters:ajax_load_character_types' %}"
          action="{% url 'cod:characters:random' %}"
          method="post"
          novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">{{ form.gameline }}</div>
            <div class="col-sm">{{ form.character_type }}</div>
            <div class="col-sm">Name</div>
            <div class="col-sm">{{ form.name }}</div>
            <div class="col-sm">XP</div>
            <div class="col-sm">{{ form.xp }}</div>
            <div class="col-sm">
                <button type="submit">Create</button>
            </div>
        </div>
    </form>
{% endblock content %}
{% block extrascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $("#id_gameline").change(function () {
        var url = $("#characterForm").attr("data-character-type-url");  // get the url of the `load_character_type` view
        var gamelineId = $(this).val();  // get the selected gameline ID from the HTML input
  
        $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-character-type/)
          data: {
            'gameline': gamelineId       // add the gameline id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_character_type` view function
            $("#id_character_type").html(data);  // replace the contents of the character_type input with the data that came from the server
          }
        });
  
      });
    </script>
{% endblock extrascripts %}
