{% extends "core/base.html" %}

{% block content %}
<p>Welcome to the Tellurium Games site! Here you will find various projects related to RPGs including links to community content products, generators, and more.</p>
<a href="https://www.patreon.com/bePatron?u=62722820" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
<a href="https://www.storytellersvault.com/browse.php?author=Charles%20Siegel"><img src="static/images/stv.png" style="height:100px;"></a>
<a href="https://www.worldofdarkness.com/dark-pack"><img src="static/images/dark_pack.png" style="height:100px;"></a>
<a href="https://www.drivethrurpg.com/cc/26/StoryPath-Nexus"><img src="static/images/spn.jpg" style="height:100px;"></a>
{% endblock content %}