{% extends "core/base.html" %}
{% load static %}
{% block title %}
    {{ object.name|safe }}
{% endblock title %}
{% block content %}
    <div class="centertext container">
        {% block contents %}
        {% endblock contents %}
        {% block update %}
            <div class="row">
                <div class="col-sm">
                    <a href="{{ object.get_update_url }}"
                       class="btn btn-primary"
                       role="button">Update</a>
                </div>
            </div>
        {% endblock update %}
    </div>
{% endblock content %}
