{% extends "core/base.html" %}
{% block title %}
    {{ object.name| safe }}
{% endblock title %}
{% block content %}
    {% load dots %}
    <div class="centertext">
        <div class="row">
            <div class="col-sm">Name</div>
            <div class="col-sm">{{ object.name }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Temporary Glory</div>
            <div class="col-sm">{{ object.glory }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Description</div>
            <div class="col-sm">{{ object.description }}</div>
        </div>
        {% block updater %}
            <div class="row centertext">
                <div class="col-sm">
                    <a href="{{ object.get_update_url }}"
                       class="btn btn-primary"
                       role="button">Update</a>
                </div>
            </div>
        {% endblock updater %}
    </div>
{% endblock content %}
