{% extends "exalted/characters/solars/solar/detail.html" %}
{% block additional_merits %}
    <form method="post"
          id="meritForm"
          merit-1-url="{% url 'exalted:characters:solars:ajax_load_merit_1' %}"
          merit-2-url="{% url 'exalted:characters:solars:ajax_load_merit_2' %}"
          merit-3-url="{% url 'exalted:characters:solars:ajax_load_merit_3' %}"
          merit-4-url="{% url 'exalted:characters:solars:ajax_load_merit_4' %}"
          merit-5-url="{% url 'exalted:characters:solars:ajax_load_merit_5' %}"
          merit-6-url="{% url 'exalted:characters:solars:ajax_load_merit_6' %}"
          merit-7-url="{% url 'exalted:characters:solars:ajax_load_merit_7' %}"
          merit-8-url="{% url 'exalted:characters:solars:ajax_load_merit_8' %}"
          merit-9-url="{% url 'exalted:characters:solars:ajax_load_merit_9' %}"
          merit-10-url="{% url 'exalted:characters:solars:ajax_load_merit_10' %}"
          novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-sm">{{ form.merit_1 }}</div>
            <div class="col-sm">{{ form.merit_1_rating }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.merit_2 }}</div>
            <div class="col-sm">{{ form.merit_2_rating }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.merit_3 }}</div>
            <div class="col-sm">{{ form.merit_3_rating }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.merit_4 }}</div>
            <div class="col-sm">{{ form.merit_4_rating }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.merit_5 }}</div>
            <div class="col-sm">{{ form.merit_5_rating }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.merit_6 }}</div>
            <div class="col-sm">{{ form.merit_6_rating }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.merit_7 }}</div>
            <div class="col-sm">{{ form.merit_7_rating }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.merit_8 }}</div>
            <div class="col-sm">{{ form.merit_8_rating }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.merit_9 }}</div>
            <div class="col-sm">{{ form.merit_9_rating }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.merit_10 }}</div>
            <div class="col-sm">{{ form.merit_10_rating }}</div>
        </div>
        <div class="row">
            <div class="col-sm">
                <input type="submit" value="Assign Merits"/>
            </div>
        </div>
    </form>
{% endblock additional_merits %}
{% block intimacies %}
{% endblock intimacies %}
{% block limit_trigger %}
{% endblock limit_trigger %}
{% block advantages %}
{% endblock advantages %}
{% block charms %}
{% endblock charms %}
{% block xp %}
{% endblock xp %}
{% block update %}
{% endblock update %}
{% block extrascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_merit_1").change(function () {
          var url = $("#meritForm").attr("merit-1-url");  // get the url of the `load_cities` view
          var merit_1_name = $(this).val();  // get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'merit_1': merit_1_name       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_merit_1_rating").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });
    </script>
    <script>
        $("#id_merit_2").change(function () {
          var url = $("#meritForm").attr("merit-2-url");  // get the url of the `load_cities` view
          var merit_2_name = $(this).val();  // get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'merit_2': merit_2_name       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_merit_2_rating").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });
    </script>
    <script>
        $("#id_merit_3").change(function () {
          var url = $("#meritForm").attr("merit-3-url");  // get the url of the `load_cities` view
          var merit_3_name = $(this).val();  // get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'merit_3': merit_3_name       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_merit_3_rating").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });
    </script>
    <script>
        $("#id_merit_4").change(function () {
          var url = $("#meritForm").attr("merit-4-url");  // get the url of the `load_cities` view
          var merit_4_name = $(this).val();  // get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'merit_4': merit_4_name       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_merit_4_rating").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });
    </script>
    <script>
        $("#id_merit_5").change(function () {
          var url = $("#meritForm").attr("merit-5-url");  // get the url of the `load_cities` view
          var merit_5_name = $(this).val();  // get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'merit_5': merit_5_name       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_merit_5_rating").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });
    </script>
    <script>
        $("#id_merit_6").change(function () {
          var url = $("#meritForm").attr("merit-6-url");  // get the url of the `load_cities` view
          var merit_6_name = $(this).val();  // get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'merit_6': merit_6_name       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_merit_6_rating").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });
    </script>
    <script>
        $("#id_merit_7").change(function () {
          var url = $("#meritForm").attr("merit-7-url");  // get the url of the `load_cities` view
          var merit_7_name = $(this).val();  // get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'merit_7': merit_7_name       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_merit_7_rating").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });
    </script>
    <script>
        $("#id_merit_8").change(function () {
          var url = $("#meritForm").attr("merit-8-url");  // get the url of the `load_cities` view
          var merit_8_name = $(this).val();  // get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'merit_8': merit_8_name       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_merit_8_rating").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });
    </script>
    <script>
        $("#id_merit_9").change(function () {
          var url = $("#meritForm").attr("merit-9-url");  // get the url of the `load_cities` view
          var merit_9_name = $(this).val();  // get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'merit_9': merit_9_name       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_merit_9_rating").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });
    </script>
    <script>
        $("#id_merit_10").change(function () {
          var url = $("#meritForm").attr("merit-10-url");  // get the url of the `load_cities` view
          var merit_10_name = $(this).val();  // get the selected country ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'merit_10': merit_10_name       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_merit_10_rating").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
    
        });
    </script>
{% endblock extrascripts %}
