{% extends "exalted/characters/solars/solar/detail.html" %}
{% block abilities %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <h2 class="col-sm exalted_heading">Abilities</h2>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.archery_check }}</div>
            {% if object.caste == 'dawn' %}
                <div class="col-sm">
                    <b>Archery</b>
                </div>
            {% else %}
                <div class="col-sm">Archery</div>
            {% endif %}
            <div class="col-sm">{{ form.archery }}</div>
            <div class="col-sm">{{ form.medicine_check }}</div>
            {% if object.caste == "twilight" %}
                <div class="col-sm">
                    <b>Medicine</b>
                </div>
            {% else %}
                <div class="col-sm">Medicine</div>
            {% endif %}
            <div class="col-sm">{{ form.medicine }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.athletics_check }}</div>
            {% if object.caste == "zenith" or object.caste == "night" %}
                <div class="col-sm">
                    <b>Athletics</b>
                </div>
            {% else %}
                <div class="col-sm">Athletics</div>
            {% endif %}
            <div class="col-sm">{{ form.athletics }}</div>
            <div class="col-sm">{{ form.melee_check }}</div>
            {% if object.caste == 'dawn' %}
                <div class="col-sm">
                    <b>Melee</b>
                </div>
            {% else %}
                <div class="col-sm">Melee</div>
            {% endif %}
            <div class="col-sm">{{ form.melee }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.awareness_check }}</div>
            {% if object.caste == 'dawn' or object.caste == "night" %}
                <div class="col-sm">
                    <b>Awareness</b>
                </div>
            {% else %}
                <div class="col-sm">Awareness</div>
            {% endif %}
            <div class="col-sm">{{ form.awareness }}</div>
            <div class="col-sm">{{ form.occult_check }}</div>
            {% if object.caste == "twilight" or object.caste == "eclipse" %}
                <div class="col-sm">
                    <b>Occult</b>
                </div>
            {% else %}
                <div class="col-sm">Occult</div>
            {% endif %}
            <div class="col-sm">{{ form.occult }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.brawl_check }}</div>
            {% if object.caste == 'dawn' %}
                <div class="col-sm">
                    <b>Brawl</b>
                </div>
            {% else %}
                <div class="col-sm">Brawl</div>
            {% endif %}
            <div class="col-sm">{{ form.brawl }}</div>
            <div class="col-sm">{{ form.performance_check }}</div>
            {% if object.caste == "zenith" %}
                <div class="col-sm">
                    <b>Performance</b>
                </div>
            {% else %}
                <div class="col-sm">Performance</div>
            {% endif %}
            <div class="col-sm">{{ form.performance }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form.bureaucracy_check }}</div>
            {% if object.caste == "twilight" or object.caste == "eclipse" %}
                <div class="col-sm">
                    <b>Bureaucracy</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Bureaucracy
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.bureaucracy }}
            </div>
            <div class="col-sm">
                {{ form.presence_check }}
            </div>
            {% if object.caste == "zenith" or object.caste == "eclipse" %}
                <div class="col-sm">
                    <b>Presence</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Presence
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.presence }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form.craft_check }}
            </div>
            {% if object.caste == "twilight" %}
                <div class="col-sm">
                    <b>Craft</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Craft
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.craft }}
            </div>
            <div class="col-sm">
                {{ form.resistance_check }}
            </div>
            {% if object.caste == "dawn" or object.caste == "zenith" %}
                <div class="col-sm">
                    <b>Resistance</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Resistance
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.resistance }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form.dodge_check }}
            </div>
            {% if object.caste == 'dawn' or object.caste == "night" %}
                <div class="col-sm">
                    <b>Dodge</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Dodge
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.dodge }}
            </div>
            <div class="col-sm">
                {{ form.ride_check }}
            </div>
            {% if object.caste == "night" or object.caste == "eclipse" %}
                <div class="col-sm">
                    <b>Ride</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Ride
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.ride }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form.integrity_check }}
            </div>
            {% if object.caste == "zenith" or object.caste == "twilight" %}
                <div class="col-sm">
                    <b>Integrity</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Integrity
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.integrity }}
            </div>
            <div class="col-sm">
                {{ form.sail_check }}
            </div>
            {% if object.caste == "eclipse" %}
                <div class="col-sm">
                    <b>Sail</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Sail
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.sail }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form.investigation_check }}
            </div>
            {% if object.caste == "twilight" or object.caste == "night" %}
                <div class="col-sm">
                    <b>Investigation</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Investigation
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.investigation }}
            </div>
            <div class="col-sm">
                {{ form.socialize_check }}
            </div>
            {% if object.caste == "night" or object.caste == "eclipse" %}
                <div class="col-sm">
                    <b>Socialize</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Socialize
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.socialize }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form.larceny_check }}
            </div>
            {% if object.caste == "night" or object.caste == "eclipse" %}
                <div class="col-sm">
                    <b>Larceny</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Larceny
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.larceny }}
            </div>
            <div class="col-sm">
                {{ form.stealth_check }}
            </div>
            {% if object.caste == "night" %}
                <div class="col-sm">
                    <b>Stealth</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Stealth
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.stealth }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form.linguistics_check }}
            </div>
            {% if object.caste == "twilight" or object.caste == "eclipse" %}
                <div class="col-sm">
                    <b>Linguistics</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Linguistics
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.linguistics }}
            </div>
            <div class="col-sm">
                {{ form.survival_check }}
            </div>
            {% if object.caste == "zenith" %}
                <div class="col-sm">
                    <b>Survival</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Survival
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.survival }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form.lore_check }}
            </div>
            {% if object.caste == "zenith" or object.caste == "twilight" %}
                <div class="col-sm">
                    <b>Lore</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Lore
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.lore }}
            </div>
            <div class="col-sm">
                {{ form.thrown_check }}
            </div>
            {% if object.caste == "dawn" %}
                <div class="col-sm">
                    <b>Thrown</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Thrown
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.thrown }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form.martial_arts_check }}
            </div>
            {% if object.caste == 'dawn' %}
                <div class="col-sm">
                    <b>Martial Arts</b>
                </div>
            {% else %}
                <div class="col-sm">
                    Martial Arts
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.martial_arts }}
            </div>
            <div class="col-sm">
                {{ form.war_check }}
            </div>
            {% if object.caste in "dawn" or object.caste == "zenith" %}
                <div class="col-sm">
                    <b>War</b>
                </div>
            {% else %}
                <div class="col-sm">
                    War
                </div>
            {% endif %}
            <div class="col-sm">
                {{ form.war }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Supernal Ability
            </div>
            <div class="col-sm">
                {{ object.supernal_ability.title }}
            </div>
        </div>
        <div class="row">
            <h2 class="col-sm exalted_heading">
                Supernal Ability
            </h2>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form.supernal_ability }}
            </div>
        </div>
        <div class="row">
            <h2 class="col-sm exalted_heading">
                Specialties
            </h2>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form.spec_1_ability }}
            </div>
            <div class="col-sm">
                {{ form.spec_1_value }}
            </div>
            <div class="col-sm">
                {{ form.spec_2_ability }}
            </div>
            <div class="col-sm">
                {{ form.spec_2_value }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form.spec_3_ability }}
            </div>
            <div class="col-sm">
                {{ form.spec_3_value }}
            </div>
            <div class="col-sm">
                {{ form.spec_4_ability }}
            </div>
            <div class="col-sm">
                {{ form.spec_4_value }}
            </div>
        </div>
        {% for specialty in specialties %}
            <div class="row">
                <div class="col-sm">
                    {{ specialty.name }} ({{ specialty.ability.title }})
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm">
                <input type="submit" value="Assign Abilities"/>
            </div>
        </div>
    </form>
{% endblock abilities %}
{% block important_abilities %}
{% endblock important_abilities %}
{% block specialties %}
{% endblock specialties %}
{% block merits %}
{% endblock merits %}
{% block intimacies %}
{% endblock intimacies %}
{% block limit_trigger %}
{% endblock limit_trigger %}
{% block advantages %}
{% endblock advantages %}
{% block charms %}
{% endblock charms %}
{% block xp %}
{% endblock xp %}
{% block update %}
{% endblock update %}
