{% extends "exalted/characters/solars/solar/detail.html" %}
{% block intimacies %}
{% endblock intimacies %}
{% block limit_trigger %}
{% endblock limit_trigger %}
{% block advantages %}
{% endblock advantages %}
{% block charms %}
    {% load dots %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <h2 class="col-sm exalted_heading">
                Merits
            </h2>
        </div>
        <div class="row">
            <h2 class="col-sm exalted_heading">
                Charms
            </h2>
        </div>
        {% for charm in object.charms.all %}
            <div class="row">
                <a class="col-sm" href="{{ charm.get_absolute_url }}">
                    {{ charm }}
                </a>
            </div>
        {% endfor %}
        <div class="row">
            <h3 class="col-sm exalted_heading">
                Possible Charms
            </h3>
        </div>
        {% for ability, charms in object.charm_dict.items %}
            <div class="row">
                <h4 class="col-sm exalted_heading">{{ ability }}</h4>
            </div>
            <div class="row">
                {% for charm in charms %}<a class="col-sm" href="{{ charm.get_absolute_url }}">{{ charm }}</a>{% endfor %}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm">
                {{ form.charm }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <input type="submit" value="Learn Charm"/>
            </div>
        </div>
    </form>
{% endblock charms %}
{% block xp %}
{% endblock xp %}
{% block update %}
{% endblock update %}
