{% extends "exalted/characters/mortal/mortal/detail.html" %}
{% block basics %}
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ object.name }}</div>
        <div class="col-sm">Concept</div>
        <div class="col-sm">{{ object.concept }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Chronicle</div>
        <div class="col-sm">{{ object.chronicle }}</div>
        <div class="col-sm">Player</div>
        <div class="col-sm">{{ object.owner }}</div>
        <div class="col-sm">Anima</div>
        <div class="col-sm">{{ object.anima }}</div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">Caste</div>
        <div class="col-sm">{{ object.get_caste_display }}</div>
        <div class="col-sm">Supernal Ability</div>
        <div class="col-sm">{{ object.get_supernal_ability_display }}</div>
    </div>
{% endblock basics %}
{% block important_abilities %}
    <div class="row">
        <h2 class="col-sm exalted_heading">Caste and Favored Abilities</h2>
    </div>
    <div class="row">
        {% for ability in object.caste_abilities %}<div class="col-sm">{{ ability.title }}</div>{% endfor %}
        {% for ability in object.favored_abilities %}<div class="col-sm">{{ ability.title }}</div>{% endfor %}
    </div>
{% endblock important_abilities %}
{% block limit_trigger %}
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">Limit Trigger</div>
        <div class="col-sm">{{ object.get_limit_trigger_display }}</div>
        <div class="col-sm"></div>
    </div>
{% endblock limit_trigger %}
{% block charms %}
    <div class="row">
        <h2 class="col-sm exalted_heading">Charms</h2>
    </div>
    {% for charm in object.charms.all %}
        <div class="row">
            <a class="col-sm" href="{{ charm.get_absolute_url }}">
                {{ charm }}
            </a>
        </div>
    {% endfor %}
{% endblock charms %}
