{% extends "core/base.html" %}
{% block title %}
  Characters
{% endblock title %}
<body>
  {% block content %}
    <div class="centertext">
      <div class="row border">
        <div class="col-sm border">
          <h2>Characters</h2>
        </div>
      </div>
      {% for char in characters %}
        {% if not char.minor and char.name != 'Storyteller' %}
          <div class="row border">
            <a class="col-sm border" href="{% url 'wod:character' char.id %}">{{ char.name }}</a>
            <div class="col-sm border">{{ char.player.user.username }}</div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% comment %} <form name="character creation form" id="character creation form" action="{% url 'wod:random_character' %}" method="post">
            {% csrf_token %}
            Subjects: <select name="subject" id="subject">
                <option value="" selected="selected">Select subject</option>
              </select>
              <br /><br />
              Topics: <select name="topic" id="topic">
                <option value="" selected="selected">Please select subject first</option>
              </select>
              <br /><br />
              Chapters: <select name="chapter" id="chapter">
                <option value="" selected="selected">Please select topic first</option>
              </select>
              <br /><br />
              <input type="submit" value="Submit"/>
    {% endcomment %}
    {% comment %} <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <label>
                        <select name="char_type">
                            <option value="werewolf">
                                Werewolf
                            </option>
                            <option value="mage">
                                Mage
                            </option>
                        </select>
                    </label>
                </div>
                <div class="col-sm">Name</div>
                <div class="col-sm">
                    <label>
                        <input name="char_name" type="text" placeholder=""/>
                    </label>
                </div>
                <div class="col-sm">Freebies</div>
                <div class="col-sm">
                    <label>
                        <input name="freebies" type="numeric" placeholder=""/>
                    </label>
                </div>
                <div class="col-sm">XP</div>
                <div class="col-sm">
                    <label>
                        <input name="xp" type="numeric" placeholder=""/>
                    </label>
                </div>
                <div class="col-sm">
                    <input type="submit" name="creator" value="Create Character"/>
                </div>
                <div class="col-sm"></div>
    </div> {% endcomment %}
    {% comment %} </form> {% endcomment %}
    <form id="personForm" data-cities-url="{% url 'wod:ajax_load_character_types' %}" action="{% url 'wod:random_character' %}" method="post" novalidate>
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit">Save</button>
      {% comment %} <a href="{% url 'person_changelist' %}">Nevermind</a> {% endcomment %}
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $("#id_gameline").change(function () {
        var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
        var gamelineId = $(this).val();  // get the selected gameline ID from the HTML input
  
        $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'gameline': gamelineId       // add the gameline id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_character_type").html(data);  // replace the contents of the character_type input with the data that came from the server
          }
        });
  
      });
    </script>
  </body>
{% endblock content %}
