{% extends "cod/characters/mortal/mortal/detail.html" %}
{% load dots %}
{% block basics %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ object.name }}</div>
        <div class="col-sm">Virtue</div>
        <div class="col-sm">{{ object.virtue }}</div>
        <div class="col-sm">Chronicle</div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <div class="col-sm">Status</div>
        <div class="col-sm">{{ object.get_status_display }}</div>
        <div class="col-sm">Vice</div>
        <div class="col-sm">{{ object.vice }}</div>
        <div class="col-sm">Faction</div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <div class="col-sm">Player</div>
        <div class="col-sm">{{ object.player }}</div>
        <div class="col-sm">Concept</div>
        <div class="col-sm">{{ object.concept }}</div>
        <div class="col-sm">Family</div>
        <a class="col-sm" href="{{ object.family.get_absolute_url }}">{{ object.family }}</a>
    </div>
{% endblock basics %}
{% block advantages %}
    <div class="row">
        <h3 class="col-sm cod_heading">Advantages</h3>
    </div>
    <div class="row">
        <div class="col-sm">Willpower</div>
        <div class="col-sm">{{ object.willpower }}</div>
        <div class="col-sm">Integrity</div>
        <div class="col-sm">{{ object.integrity }}</div>
        <div class="col-sm">Size</div>
        <div class="col-sm">{{ object.size }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Health</div>
        <div class="col-sm">
            {{ object.health }}
        </div>
        <div class="col-sm">
            Initiative Modifier
        </div>
        <div class="col-sm">
            {{ object.initiative_modifier }}
        </div>
        <div class="col-sm">
            Defense
        </div>
        <div class="col-sm">
            {{ object.defense }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
            Speed
        </div>
        <div class="col-sm">
            {{ object.speed }}
        </div>
        <div class="col-sm">
            Mana
        </div>
        <div class="col-sm">
            {{ object.mana }}
        </div>
    </div>
{% endblock advantages %}
{% block powers %}
    <div class="row">
        <h3 class="col-sm cod_heading">
            Blessings
        </h3>
    </div>
    {% for row in blessings %}
        <div class="row">
            {% for rote in row %}
                <a class="col-sm" href="{{ rote.get_absolute_url }}">{{ rote.name }}</a>
                <div class="col-sm">
                    {{ rote.arcanum.title }}
                </div>
                <div class="col-sm dots">
                    {{ rote.level|dots }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock powers %}
