{% extends "core/base.html" %}
{% block title %}
    {{ object.name| safe }}
{% endblock title %}
{% block content %}
    {% load dots %}
    <div class="centertext container">
        <div class="row">
            <div class="col-sm">Name</div>
            <div class="col-sm">{{ object.name }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Effect</div>
            <a class="col-sm" href={{ object.effect.get_absolute_url }}>{{ object.effect }}</a>
        </div>
        <div class="row">
            <div class="col-sm">Practice</div>
            <div class="col-sm">{{ object.practice }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Dicepool</div>
            <div class="col-sm">{{ object.attribute.title }} + {{ object.ability.title }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Description</div>
            <div class="col-sm">{{ object.description }}</div>
        </div>
        {% block updater %}
            <div class="row">
                <div class="col-sm">
                    <a href="{{ object.get_update_url }}"
                       class="btn btn-primary"
                       role="button">Update</a>
                </div>
            </div>
        {% endblock updater %}
    </div>
{% endblock content %}
