{% extends "core/base.html" %}
{% block title %}
    {{ loc_name }}
{% endblock title %}
<body>
    {% block content %}
        <h1>{{ location.name }}</h1>
        {% if object.parent != None %}
            <div class="row">
                <div class="col-sm">Parent</div>
                <a class="col-sm" href="{{ object.parent.get_absolute_url }}">{{ object.parent.name }}</a>
            </div>
        {% endif %}
        <br />
        <br />
        {{ location.description }}
        <br />
        <br />
        <table>
            <tr>
                <td>Gauntlet</td>
                <td>{{ location.gauntlet }}</td>
                <td>Shroud</td>
                <td>{{ location.shroud }}</td>
            </tr>
        </table>
    </body>
{% endblock content %}
