{% extends "core/object.html" %}
{% block contents %}
    {% load dots %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ object.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Damage</div>
        <div class="col-sm">{{ object.damage }}/{{ object.get_damage_type_display }}</div>
        <div class="col-sm">Difficulty</div>
        <div class="col-sm">{{ object.difficulty }}</div>
        <div class="col-sm">Conceal</div>
        <div class="col-sm">{{ object.get_conceal_display }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ object.description }}</div>
    </div>
{% endblock contents %}
