{% extends "core/form.html" %}
{% block formdetails %}
    method="post"
    id="werewolfForm"
    action=""
    novalidate
{% endblock formdetails %}
{% block contents %}
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="centertext container">
        <div class="row">
            <div class="col-sm">Name</div>
            <div class="col-sm">{{ form.name }}</div>
            <div class="col-sm">Nature</div>
            <div class="col-sm">{{ form.nature }}</div>
            <div class="col-sm">Tribe</div>
            <div class="col-sm">{{ form.tribe }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Chronicle</div>
            <div class="col-sm">{{ form.chronicle }}</div>
            <div class="col-sm">Demeanor</div>
            <div class="col-sm">{{ form.demeanor }}</div>
            <div class="col-sm">Auspice</div>
            <div class="col-sm">{{ form.auspice }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Rank</div>
            <div class="col-sm">Cliath</div>
            <div class="col-sm">Concept</div>
            <div class="col-sm">{{ form.concept }}</div>
            <div class="col-sm">Breed</div>
            <div class="col-sm">{{ form.breed }}</div>
        </div>
    </div>
{% endblock contents %}
{% block buttons %}
    <input class="btn btn-primary" name="Full Random" type="submit" value="Full Random" />
    <input class="btn btn-primary" name="Random Basics" type="submit" value="Random Basics" />
    <input class="btn btn-primary" name="Save" type="submit" value="Save" />
{% endblock buttons %}
