{% extends "core/object.html" %}
{% block contents %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ object.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Quantum Minimum</div>
        <div class="col-sm">{{ object.quantum_minimum }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Action Type</div>
        <div class="col-sm">{{ object.get_action_type_display }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Cost</div>
        <div class="col-sm">{{ object.cost }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Dicepool</div>
        <div class="col-sm">{{ object.dicepool }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Range</div>
        <div class="col-sm">{{ object.get_range_display }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Duration</div>
        <div class="col-sm">{{ object.get_duration_display }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ object.description }}</div>
    </div>
{% endblock contents %}
